*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

header ul li{
    display: inline-block;
    margin: 20px 10px;
}
header ul li a{
    text-decoration: none;
    color: black;

}
header {
    text-align: center;
    
}
.page{
    background-color: pink;
    padding: 30px 20%;
}
.welcome-section{
    background-color: white;
    padding: 20px;
   line-height: 1.5;
   text-align: left;
}
p,a,span{
    opacity: 0.6;
}
